h1 {
  text-align: center;
}

#nav-button {
  text-align: right;
}

.top-mar-small {
  margin-top: 20px;
}

.bottom-mar-small {
  margin-bottom: 20px;
}

.flex-end{
  display: flex;
  justify-content: space-between;
}